name: poc_video_player
description: A new Flutter project.

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ">=2.15.1 <3.0.0"
dependencies:
  flutter:
    sdk: flutter
  chewie:
  video_player:
  get:
  cast: ^1.1.0
  flutter_windowmanager:
  ios_insecure_screen_detector:
  
  video_thumbnail:
  path_provider:  
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  
flutter:
  assets:
    - assets/
  
  uses-material-design: true

  
  
  
  

  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
